@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: roboto;
  font-size: calc(10px + 0.25vw); }

.sepLine {
  height: 1px;
  color: black;
  width: 100%; }

.navBar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 10%;
  flex-grow: 1;
  top: 0;
  left: 0;
  color: white;
  padding: 10px 0;
  min-height: 100px;
  background-color: pink;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .navBar #header {
    display: block;
    font-size: 4.5rem;
    margin: 5px;
    font-family: 'Libre Barcode 128 Text', cursive; }
  .navBar #section {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poiret One', cursive;
    margin-bottom: 5px; }
    .navBar #section div {
      cursor: pointer; }

.currentSection {
  text-decoration: overline; }

@media (min-width: 640px) {
  .scorolled {
    display: flex;
    flex-flow: row wrap;
    transition: height 1s;
    transition-timing-function: ease;
    animation-duration: 0.5s;
    height: 5%;
    min-height: 50px;
    align-items: flex-end;
    justify-content: space-between; }
    .scorolled #header {
      display: inline; }
    .scorolled div {
      margin: 0 10px;
      font-size: 1.5rem; } }
.placeHolder {
  position: relative;
  top: 0;
  height: 10%;
  min-height: 110px; }

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .mainContent > div {
    margin: 10px 0; }
  .mainContent .fixedBg {
    background-image: url("assets/MountainPeak.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.infoSession {
  height: 25%;
  min-height: 380px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  color: rgba(66, 66, 66, 0.84);
  text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.1); }
  .infoSession div {
    margin: 10px 0; }
  .infoSession h1 {
    margin: 10px 0; }
    .infoSession h1 img {
      vertical-align: middle;
      width: 20%; }
  .infoSession .cardWrapper {
    height: 50%; }
    .infoSession .cardWrapper h1 {
      font-size: 3rem; }
    .infoSession .cardWrapper .pic {
      /*  creates circle for img  */
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      width: 10%;
      min-width: 100px;
      margin: 10px;
      box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2); }
@keyframes wordEase {
  from {
    opacity: 0; }
  to {
    opacity: 0.95; } }
  .infoSession .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: wordEase 1s ease;
    animation: wordEase 1s ease;
    background-color: rgba(255, 255, 255, 0.2); }
    .infoSession .bio h2 {
      -webkit-animation-delay: 1s;
      margin: 2px; }
    .infoSession .bio h3 {
      -webkit-animation-delay: 2s;
      margin: 2px; }
    .infoSession .bio p {
      -webkit-animation-delay: 3s;
      text-align: left;
      width: 50%;
      margin: 5px;
      min-width: 320px;
      font-size: 1.4rem; }

.main-carousel {
  color: black;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px; }
  .main-carousel .carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 45vh;
    min-width: 300px;
    width: 60%;
    padding: 15px; }
    .main-carousel .carousel-cell .br {
      width: 50%;
      height: 5px;
      background-color: pink; }
    .main-carousel .carousel-cell .social {
      display: flex;
      min-width: 150px;
      width: 20%;
      justify-content: space-between;
      align-items: center; }
      .main-carousel .carousel-cell .social a {
        color: inherit; }
    .main-carousel .carousel-cell .header {
      font-weight: bold;
      font-size: 2.5rem;
      align-self: flex-start; }
    .main-carousel .carousel-cell .desc {
      display: flex;
      font-size: 1.3rem;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main-carousel .carousel-cell .desc div {
        min-width: 350px; }
        .main-carousel .carousel-cell .desc div p:first-child {
          font-weight: bold; }
        .main-carousel .carousel-cell .desc div span {
          color: grey; }

@media (max-width: 640px) {
  .flickity-prev-next-button {
    visibility: hidden; } }
.static-banner {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 2px 10px; }
  .static-banner a {
    font-size: 20px;
    color: white;
    text-decoration: none; }

.static-banner1 {
  right: 10px;
  bottom: 10px; }

.br {
  width: 50%;
  height: 5px;
  background-color: pink; }

.multiColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: ghostWhite;
  font-size: 1.3rem;
  padding: 10% 0; }
  .multiColumn .projectText .br {
    width: 50%;
    height: 5px;
    background-color: pink; }
  .multiColumn .projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .multiColumn .projectCards .iosCard {
      position: relative;
      display: flex;
      flex-direction: column;
      transform-style: preserve-3d;
      transition: 1s;
      width: 350px;
      height: 400px;
      margin: 10px; }
    .multiColumn .projectCards .iosCard:hover {
      cursor: pointer;
      transform: scale3d(0.975, 0.975, 0.975); }
    .multiColumn .projectCards .media {
      font-weight: bold;
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px;
      flex-direction: column;
      text-align: left;
      justify-content: start;
      font-size: 2.4rem;
      color: white;
      width: 100%; }
      .multiColumn .projectCards .media h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        margin: 20px 0 0 15px;
        line-height: 90%; }
    .multiColumn .projectCards .description {
      width: 100%;
      height: 0;
      align-self: flex-start;
      text-align: left;
      background-color: #bbc8dd;
      opacity: 0;
      transition: 0.25s; }
      .multiColumn .projectCards .description p {
        font-size: 1.3rem;
        padding: 0 15px; }
    .multiColumn .projectCards .contentContainer {
      text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.8);
      height: 100%;
      width: 100%; }
      .multiColumn .projectCards .contentContainer .cardIcons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        .multiColumn .projectCards .contentContainer .cardIcons .cardIcon {
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          border-radius: 15px;
          width: 70px;
          height: 70px;
          margin: 10px;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.8); }
          .multiColumn .projectCards .contentContainer .cardIcons .cardIcon img {
            width: 100%;
            height: 100%; }
      .multiColumn .projectCards .contentContainer .close {
        position: absolute;
        right: 15px;
        top: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        color: #bbc8dd;
        cursor: pointer;
        opacity: 0; }
      .multiColumn .projectCards .contentContainer .link {
        cursor: pointer;
        background-color: white;
        padding: 5px;
        width: 60px;
        position: absolute;
        font-size: 1.5rem;
        right: 10px;
        bottom: 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .multiColumn .projectCards .contentContainer .link a {
          display: inline-block;
          font-size: 14px;
          text-decoration: none;
          color: #4284f5;
          text-shadow: none; }
    .multiColumn .projectCards .fullScreen {
      cursor: pointer;
      height: 600px;
      width: 500px; }
      @media (max-width: 414px) {
        .multiColumn .projectCards .fullScreen {
          height: 100vh;
          width: 100vw;
          margin: 0;
          padding: 0;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
          transition: 1s; } }
      .multiColumn .projectCards .fullScreen .media {
        border-radius: 0; }
      .multiColumn .projectCards .fullScreen .description {
        background-color: white;
        height: auto;
        opacity: 1; }
      .multiColumn .projectCards .fullScreen .close {
        transition: 2s;
        opacity: 1; }
    .multiColumn .projectCards #proj1 .media {
      background-image: url("assets/p1.gif");
      -webkit-background-size: auto;
      -moz-background-size: auto;
      -ms-background-size: auto;
      background-size: auto; }
    .multiColumn .projectCards #proj2 .media {
      background-image: url("assets/TMDB.gif");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
    .multiColumn .projectCards #proj3 .media {
      background-image: url("assets/music.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
    .multiColumn .projectCards #proj4 .media {
      background-image: url("assets/cumtd.gif");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover; }
      .multiColumn .projectCards #proj4 .media h3 {
        color: #2d2d2d;
        text-shadow: none; }

.flipped {
  transform: rotateY(180deg); }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal > div {
    margin: 10% auto;
    width: 90%;
    min-width: 350px;
    height: 100%; }
    .modal > div .content {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 100%; }
      .modal > div .content .close {
        align-self: flex-end;
        width: 20px;
        height: 20px;
        margin: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        color: #fb9a9a;
        cursor: pointer; }

.favorites {
  position: relative;
  font-size: 0.75rem;
  height: 550px;
  background-color: #eeeeeedb; }
  @media (max-width: 750px) {
    .favorites {
      height: 1100px; } }
  .favorites > div {
    position: absolute;
    top: -10%;
    display: flex;
    max-width: 1000px;
    height: 120%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.1); }
    @media (max-width: 414px) {
      .favorites > div {
        top: 0;
        height: 100%; } }
    @media (max-width: 414px) {
      .favorites > div {
        width: 100vw; } }
  .favorites > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    flex: 1; }
  .favorites .header {
    font-size: 2rem; }
    .favorites .header span {
      color: #bbc8dd; }
  .favorites .leftFooter {
    align-items: center;
    background-color: #bbc8dd; }
  .favorites .rightFooter {
    align-items: center;
    color: black;
    font-size: 1rem;
    background-color: #fff; }
  .favorites > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px; }
  .favorites .location {
    min-height: 200px; }
  .favorites .email {
    min-height: 200px; }
  .favorites .social {
    display: block;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    justify-content: space-evenly;
    align-items: center;
    max-width: 250px; }
    .favorites .social p {
      font-size: 14px;
      text-align: left;
      line-height: 1.7;
      width: 30rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem; }
    .favorites .social a {
      color: inherit; }

.current {
  display: block !important; }

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  background-color: ghostWhite;
  font-size: 1.3rem; }
  .contacts h1 {
    font-size: 3rem; }
  .contacts .br {
    width: 50%;
    height: 5px;
    background-color: pink; }
  .contacts .skillsHeader {
    font-size: 3rem; }
  .contacts .skillsBarContainer {
    flex-grow: 1;
    min-width: 330px;
    max-width: 50%;
    margin: 10px;
    padding: 10px; }
  .contacts .skillbar {
    font-family: 'Open Sans', 'sans-serif';
    position: relative;
    display: block;
    margin-bottom: 15px;
    background: #eee;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.5s, linear;
    -moz-transition: 0.5s, linear;
    -ms-transition: 0.5s, linear;
    -o-transition: 0.5s, linear;
    transition: 0.5s, linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color; }
  .contacts .skillbar:hover {
    width: 110%;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .contacts .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .contacts .skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .contacts .skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .contacts .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #444;
    color: rgba(0, 0, 0, 0.4); }

.footer {
  display: flex;
  max-height: 150px;
  height: 25vh;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  padding: 20px 0;
  font-size: 0.75rem;
  background-color: #524a48;
  margin: 0 !important; }
  .footer > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .footer .left {
    font-size: 1.5rem;
    align-items: center; }
    .footer .left div {
      cursor: pointer;
      width: 50%;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      border: 2px solid white; }
    .footer .left div:hover {
      transition: 1s;
      transform: scale3d(0.95, 0.95, 0.95); }
  .footer .right {
    font-size: 1.5rem; }
    .footer .right .social a {
      text-decoration: none;
      color: inherit; }

/*# sourceMappingURL=main.css.map */
