html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: roboto;
  font-size: calc(10px + 0.25vw); }

.sepLine {
  height: 1px;
  color: black;
  width: 100%; }

.navBar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 10%;
  flex-grow: 1;
  top: 0;
  left: 0;
  color: white;
  padding: 10px 0;
  min-height: 100px;
  background-color: pink;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .navBar #header {
    display: block;
    font-size: 4.5rem;
    margin: 5px;
    font-family: 'Libre Barcode 128 Text', cursive; }
  .navBar #section {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poiret One', cursive;
    margin-bottom: 5px; }
    .navBar #section div {
      cursor: pointer; }

.currentSection {
  text-decoration: overline; }

@media (min-width: 640px) {
  .scorolled {
    display: flex;
    flex-flow: row wrap;
    transition: height 1s;
    transition-timing-function: ease;
    animation-duration: 0.5s;
    height: 5%;
    min-height: 50px;
    align-items: flex-end;
    justify-content: space-between; }
    .scorolled #header {
      display: inline; }
    .scorolled div {
      margin: 0 10px;
      font-size: 1.5rem; } }
.placeHolder {
  position: relative;
  top: 0;
  height: 10%;
  min-height: 110px; }

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .mainContent .fixedBg {
    background-image: url("assets/MountainPeak.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.infoSession {
  height: 25%;
  min-height: 380px;
  padding: 30px 10px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  color: rgba(66, 66, 66, 0.84);
  text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.1); }
  .infoSession div {
    margin: 10px 0; }
  .infoSession h1 {
    margin: 10px 0; }
    .infoSession h1 img {
      vertical-align: middle;
      width: 20%; }
  .infoSession .cardWrapper {
    height: 50%; }
    .infoSession .cardWrapper h1 {
      font-size: 3rem; }
    .infoSession .cardWrapper .pic {
      /*  creates circle for img  */
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      width: 10%;
      min-width: 100px;
      margin: 10px;
      box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2); }
@keyframes wordEase {
  from {
    opacity: 0; }
  to {
    opacity: 0.95; } }
  .infoSession .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: wordEase 1s ease;
    animation: wordEase 1s ease;
    background-color: rgba(255, 255, 255, 0.2); }
    .infoSession .bio h2 {
      -webkit-animation-delay: 1s;
      margin: 2px; }
    .infoSession .bio h3 {
      -webkit-animation-delay: 2s;
      margin: 2px; }
    .infoSession .bio p {
      -webkit-animation-delay: 3s;
      text-align: left;
      width: 50%;
      margin: 5px;
      min-width: 320px;
      font-size: 1.4rem; }

.main-carousel {
  color: black;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px; }
  .main-carousel .carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 45vh;
    min-width: 300px;
    width: 60%;
    padding: 15px; }
    .main-carousel .carousel-cell .br {
      width: 50%;
      height: 5px;
      background-color: pink; }
    .main-carousel .carousel-cell .social {
      display: flex;
      min-width: 150px;
      width: 20%;
      justify-content: space-between;
      align-items: center; }
      .main-carousel .carousel-cell .social a {
        color: inherit; }
    .main-carousel .carousel-cell .header {
      font-weight: bold;
      font-size: 2.5rem;
      align-self: flex-start; }
    .main-carousel .carousel-cell .desc {
      display: flex;
      font-size: 1.3rem;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main-carousel .carousel-cell .desc div {
        min-width: 350px; }
        .main-carousel .carousel-cell .desc div p:first-child {
          font-weight: bold; }
        .main-carousel .carousel-cell .desc div span {
          color: grey; }

@media (max-width: 640px) {
  .flickity-prev-next-button {
    visibility: hidden; } }
.static-banner {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 2px 10px; }
  .static-banner a {
    font-size: 20px;
    color: white;
    text-decoration: none; }

.static-banner1 {
  right: 10px;
  bottom: 10px; }

.br {
  min-height: 1px;
  width: 90%;
  background-color: grey; }

.multiColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: ghostWhite;
  font-size: 1.3rem; }
  .multiColumn .projectText .br {
    width: 50%;
    height: 5px;
    background-color: pink; }
  .multiColumn .projectCards {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .multiColumn .projectCards div {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 350px;
      min-height: 350px;
      width: 40vw;
      height: 45%;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px;
      perspective: 1000px;
      /* hide back of pane during swap */
      /* front pane, placed above back */
      /* back, initially hidden pane */ }
      .multiColumn .projectCards div div {
        align-items: flex-start;
        justify-content: flex-start; }
      .multiColumn .projectCards div:hover .flipper {
        transform: rotateY(180deg); }
      .multiColumn .projectCards div.flipper {
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
        margin: 5px;
        box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 100%; }
      .multiColumn .projectCards div.front, .multiColumn .projectCards div .back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
      .multiColumn .projectCards div.front {
        z-index: 2;
        transform: rotateY(0deg);
        background-color: red;
        opacity: 0.4; }
      .multiColumn .projectCards div.back {
        transform: rotateY(180deg);
        cursor: pointer;
        background-color: blue;
        opacity: 1; }
      .multiColumn .projectCards div#proj1 .front {
        background-image: url("assets/cyclist-dribbble.gif");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj1 .back {
        background-image: url("assets/cyclist-dribbble.gif");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj2 .front {
        background-image: url("assets/mail.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj2 .back {
        background-image: url("assets/mail.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj3 .front {
        background-image: url("assets/music.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj3 .back {
        background-image: url("assets/music.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj4 .front {
        background-image: url("assets/webmap.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }
      .multiColumn .projectCards div#proj4 .back {
        background-image: url("assets/webmap.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover; }

.flipped {
  transform: rotateY(180deg); }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal > div {
    margin: 10% auto;
    width: 90%;
    min-width: 350px;
    height: 100%; }
    .modal > div .content {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 100%; }
      .modal > div .content .close {
        align-self: flex-end;
        width: 20px;
        height: 20px;
        margin: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        color: #fb9a9a;
        cursor: pointer; }

.favorites {
  height: 40vw;
  min-height: 375px; }
  .favorites .carouselWrapper {
    position: relative;
    height: 100%; }
    .favorites .carouselWrapper .prev {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 5%;
      cursor: pointer;
      opacity: 0.5; }
    .favorites .carouselWrapper .next {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 5%;
      cursor: pointer;
      opacity: 0.5; }
  .favorites .slides {
    display: flex;
    flex-direction: row;
    height: 100%; }
    .favorites .slides > div {
      display: none;
      width: 100%; }
    .favorites .slides div:nth-child(1) {
      flex-shrink: 0;
      width: 100%;
      overflow: hidden; }
      .favorites .slides div:nth-child(1) video {
        min-width: 100%;
        min-height: 100%; }
    .favorites .slides div:nth-child(2) {
      flex-shrink: 0;
      background-image: url("assets/movie.jpg");
      background-size: 100% 100%; }
    .favorites .slides div:nth-child(3) {
      flex-shrink: 0;
      background-image: url("assets/movie2.jpg");
      background-size: 100% 100%; }
    .favorites .slides div:nth-child(4) {
      flex-shrink: 0;
      background-image: url("assets/movie3.jpg");
      background-size: 100% 100%; }

.current {
  display: block !important; }

.contacts > div {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 100%; }
  .contacts > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 50%;
    min-width: 350px; }
  .contacts > div #form div {
    display: flex;
    flex-direction: column;
    align-items: flex;
    justify-content: flex-start;
    flex-grow: 1; }
  .contacts > div #form .form-control {
    border: 0;
    border-bottom: 2px solid grey; }
  .contacts > div #form input, .contacts > div #form textarea {
    font-size: 20px; }
  .contacts > div #form textarea {
    background-color: ghostWhite; }
  .contacts > div #form #sendMessage {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    color: #2791bb;
    cursor: pointer;
    align-self: flex-start;
    border: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); }

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.1);
  padding: 20px 0; }
  .footer > div {
    min-height: 250px;
    min-width: 375px; }
  .footer .location {
    flex: 1; }
  .footer .social {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center; }
    .footer .social a {
      color: inherit; }
  .footer .email {
    flex: 1; }

/*# sourceMappingURL=main.css.map */
