$assetPath : "assets";

$mobile-width: 414px;
$medium-size: 750px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium-size}) {
    @content;
  }
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-size($type) {
  -webkit-background-size: $type;
     -moz-background-size: $type;
      -ms-background-size: $type;
          background-size: $type;
}

@mixin background-sizes($width, $height) {
  -webkit-background-size: $width $height;
     -moz-background-size: $width $height;
      -ms-background-size: $width $height;
          background-size: $width $height;
}

@mixin transition($time, $style){
  -webkit-transition:$time, $style;
     -moz-transition:$time, $style;
      -ms-transition:$time, $style;
       -o-transition:$time, $style;
          transition:$time, $style;
}

@mixin transition-property($width, $color){
  -webkit-transition-property:$width, $color;
	   -moz-transition-property:$width, $color;
	    -ms-transition-property:$width, $color;
	     -o-transition-property:$width, $color;
	        transition-property:$width, $color;
}

@font-face{
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}




html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: roboto;
  font-size:calc(10px + 0.25vw);
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;

  
  .br{
    width: 50%;
    height:5px;
    background-color: pink;
  }
}

.navBar {
  // make sure the main content won't cover navBar
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 10%;
  flex-grow: 1;
  top: 0;
  left: 0;
  color: white;
  padding: 10px 0;
  // set a min-height for responsive
  min-height: 100px;
  background-color: pink;
  @include box-shadow(0px 4px 8px 0 rgba(0, 0, 0, 0.2));
  opacity: 0.95;

  display: flex;
  justify-content: center;
  flex-direction: column;

  #header{
    display: block;
    font-size: 4.5rem;
    margin: 5px;
    font-family: 'Libre Barcode 128 Text', cursive;
  }
  #section{
    font-size: 1.8rem;
    // font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    // font-family: 'lato', sans-serif;
    // margin-bottom: 5px;
    div {
      cursor: pointer;
    }
  }

}

// add to the current sectio to notify user
.currentSection{
  text-decoration: overline;
}

//https://www.w3schools.com/css/css3_animations.asp
// @keyframes resize {
//     0%   {height: 10%}
//
//     50%  {height: 7.5%}
//
//     100% {height: 5%}
// }

@media (min-width: 640px){ // media query
  .scorolled {
    display: flex;
    flex-flow: row wrap;
    //animation-name: resize;
    transition: height 1s;
    transition-timing-function: ease;
    animation-duration: 0.5s;

    height: 5%;
    min-height: 60px;

    align-items: flex-end;
    justify-content: space-between;

    #header{
      display: inline;
    }

    div{
      margin: 0 10px;
      font-size: 1.5rem;
    }
  }
}

.placeHolder{
  position: relative;
  top:0;
  height: 10%;
  min-height: 110px; // 90 + 10 + 10
}
// since there is a placeHolder dive before the main content
// no longer needs absolute position
.mainContent {

  // separate each dive a little bit
  // they are tooooooo close
  &>div{
    margin: 10px 0;
  }

  // no longer need this now
  // since I have enough content for scroll
  // height: 350%;
  width: 100%;
  // background-color: rgba(16, 83, 132, 0.83);
  display: flex;
  flex-direction: column;
  // use this instead of bcakground property
  &>.fixedBg{
    background-image: url("assets/MountainPeak.jpg");
  }

}

.fixedBg{
   @include background-size(cover);
   background-repeat: no-repeat;
   background-position: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.infoSession{
  // position: relative;
  height: 25%;
  min-height: 380px;
  padding: 30px 0px;

  // fixed back ground
  // not working on iOS device
  // background: url(#{$assetPath}/MountainPeak.jpg) no-repeat center center fixed;
  // background: url("assets/MountainPeak.jpg") no-repeat center center fixed;
  // @include background-size(cover);
  display: flex;
  flex-direction: column;

  color: rgba(66, 66, 66, 0.84);
  text-shadow: 1px 1px 5px rgba(0,0,22,0.1);

  h1 {
    margin: 10px 0;
    img {
      vertical-align: middle;// center image vertically
      width: 20%;
    }
  }

  & .cardWrapper {
    height: 50%;
    h1{
      font-size: 3rem;
    }
    & .pic{
      /*  creates circle for img  */
      @include border-radius(50%);
      width: 10%;
      min-width: 100px;
      margin: 10px;
      @include box-shadow(0px 4px 8px 0 rgba(0, 0, 0, 0.2));
    }
  }

  & .bio{
    // vertical center elements
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;

    margin: 10px 0;

    .br{
      background-color: grey;
      height: 1px;
    }

    h2 {
      -webkit-animation-delay: 1s;
      margin: 2px;
    }

  }

}

// slides area for education and other information
.main-carousel{

  color: black;
  text-align: left;

  .carousel-cell{

    height: 540px;
    min-width: 333px;
    width: 60%;

    .cellContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      background-color: hsla(0,0%,100%,.85);
      padding: 0px 15px 0px 20px;
      height: 90%;
      margin: 0px 5px;
      border-radius: 5px;
      box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    }



    & .social{
      display: flex;
      min-width: 150px;
      width: 20%;

      justify-content: space-between;
      align-items: center;

      a{
        color: inherit;
      }
    }

    // header for the carousel-cell
    .header{
      font-weight: bold;
      font-size: 2.5rem;
      // justify-content: center;
      align-self: flex-start;
    }

    // each column of description region
    .desc{
      display: flex;
      font-size: 1.4rem;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mobile {
        font-size: 14px;
      }
      div{
        // min-width: 350px;
        p:first-child {
          font-weight: bold;
        }
        span{
          color: grey;
        }

        margin-bottom: 15px;
      }
    }
  }

  .dot{
    background: #fcc2cb;
  }

  .carouselWrapper{
    width: 100vw;
    margin: 0 auto;
  }

}

// hide button if on a touch device
@media (max-width: 640px) {
  .flickity-prev-next-button{
    visibility: hidden;
  }
}


.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 10px;
  a{
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}

.static-banner1 {
  right: 10px;
  bottom: 10px;
}


.interests {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: ghostWhite;
  font-size: 1.3rem;
  padding: 5% 0;
  align-items: center;

  .webDev{
    justify-content: space-around;
    align-items: center;
    width: 100%;

    // ios11 app store like cards
    .projectCards{
      // width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      .iosCard{
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        width: 350px;
        height: 400px;
        margin: 10px;
        transform: translate3d(0.0, 0.0, 0.0);
      }

      .iosCard:hover{
        cursor: pointer;
        transform: scale3d(0.98, 0.98, 0.98);
      }

      // media that contains cardIcons and text
      .media{
        font-weight: bold;
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        @include border-radius(5px);
        flex-direction: column;
        text-align: left;
        justify-content: start;
        font-size: 2.4rem;
        color:white;
        width: 100%;
        h3{
          font-size: 40px;
          font-weight: 900;
          margin: 20px 0 0 15px;
          line-height: 90%;
        }
      }

      .description{
        width: 100%;
        height: 0;
        align-self: flex-start;
        text-align: left;
        font-size: 1rem;
        color: grey;
        background-color: #bbc8dd;
        opacity: 0;
        display: hidden;

        padding: 10px 0;
        p{
          line-height: 120%;
          font-size: 1.3rem;
          padding:0 15px;
          b{
            color: black;
          }
        }
      }

      .contentContainer{
        text-shadow: 1px 1px 5px rgba(0, 0, 22, 0.8);
        height: 100%;
        width: 100%;
        // background-color: rgba(255, 255, 255, 0.8);
        .cardIcons{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          .cardIcon{
            @include border-radius(15px);
            width: 60px;
            height: 60px;
            margin: 5px;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.9);
            img{
              width: 100%;
              height: 100%;
            }
          }
        }

        .close{
          text-shadow: none;
          position: absolute;
          right: 5px;
          top: 5px;
          color: grey;
          cursor: pointer;
          opacity: 0;
          i{
            font-weight: bold;
          }
        }

        .link{
          cursor: pointer;
          background-color: white;
          padding: 5px;
          width: 60px;
          position: absolute;
          font-size: 1.5rem;
          right: 10px;
          bottom: 10px;
          @include border-radius(20px);
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            display: inline-block;
            font-size: 14px;
            text-decoration: none;
            color: #4284f5;
            text-shadow: none;
          }
        }
      }

      .fullScreen{
        // expand the ios card
        cursor: pointer;

        width: 500px;
        height: auto;

        .media{
          height: 400px;
        }

        // on small scrren,
        // take up full size
        @include mobile{
          width: 100%;
          overflow-y: hidden;
          margin: 0;
          padding: 0;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 5;
        }

        .media{
          border-radius: 0;
        }

        .description{
          background-color: white;
          flex-grow: 1;
          overflow-y: auto;
          display: block;

        }

        // change display and opacity in two steps
        .open-active{
          opacity: 1;
          height: 400px;
          transition: all 0.5s;
        }

        .close{
          opacity: 1;
          // height: 0px;
          transition: all 0.5s;
        }

      }


      #proj1 .media{
        background-image: url("assets/p1.jpg");
        @include background-sizes(500px, 400px);
      }

      #proj2 .media{
        background-image: url("assets/moviedb.jpg");
        @include background-sizes(500px, 400px);
      }

      #proj3 .media{
        background-image: url("assets/PhotoMix.jpg");
        @include background-sizes(500px, 400px);
      }

      #proj4 .media{
        background-image: url("assets/cumtd.jpg");
        @include background-sizes(500px, 400px);
        h3{
          color: #000000;
          text-shadow: none;
        }
      }
    }

  }
  .cgRegion{

    .panels {
      height: 100%;
      min-height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-width: 95vw;
    }

    .panel {
      background: white;
      box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      width: 95vw;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }


    .panel1 {
      color: black;
      background-image:url("assets/terrain.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .panel2 {
      background-image:url("assets/envmapping.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .panel3 {
      background-image:url("assets/overview.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }

    /* Flex Items */
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child {
      opacity: 0;
      transform: translateY(-100%);
    }
    .panel.open-active > *:first-child {
      opacity: 1;
      transform: translateY(0);
    }
    .panel > *:last-child {
      opacity: 0;
      transform: translateY(100%);
    }
    .panel.open-active > *:last-child {
      opacity: 1;
      transform: translateY(0);
    }

    .panel p {
      text-transform: uppercase;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 3rem;
      a{
        color: black;
      }
    }
    .panel p:nth-child(2) {
      font-size: 3rem;
    }

    .panel.open {
      flex: 8;
      font-size:4.5rem;
    }

  }
}

.contacts {
  // relative positioned parent div
  position: relative;
  font-size: 0.75rem;
  height: 550px;
  @include medium{
    height: 1100px;
  }

  background-color: #eeeeeedb;
  // use this div as container to
  // absolute position the contacts info
  // to create a intercect visual effect
  &>div{
    position: absolute;
    top: -10%;
    display: flex;
    max-width: 1000px;
    height: 120%;
    z-index: 2;
    @include box-shadow(0px 4px 8px 0 rgba(0, 0, 0, 0.2));
    @include mobile{
      top: 0;
      height: 100%;
    }
    width: 90%;
    @include mobile{
      width: 100vw;
    }
    // center the floated div
    left: 50%;
    transform: translateX(-50%);
    // border: 2px solid rgba(41, 41, 41, 0.1);
    // warp sapce around div inside
    justify-content: space-around;
    // align-items: center;
    flex-wrap: wrap;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,22,0.1);
  }
  &>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    flex: 1;
  }

  .header{
    span{
      color: #bbc8dd;
    }
    font-size: 2rem;
  }

  .leftFooter{
    align-items: center;
    background-color: #bbc8dd;
  }

  .rightFooter{
    align-items: center;
    color: black;
    font-size: 1rem;
    background-color: #fff;
  }

  &>div>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
  }

  & .location{
    min-height: 200px;
  }
  & .email{
    min-height: 200px;
  }
  & .social{
    // prevent word overflow from
    // the overflow window
    display: block;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;

    // // vertical and horizontal align divs
    justify-content: space-evenly;
    align-items: center;
    max-width: 250px;
    p{
      font-size: 14px;
      text-align: left;
      line-height: 1.7;
      width: 30rem;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
    a {
      color:inherit;
    }

  }

}

.current{
  display: block !important;
}

#skillsArea {

  h1{
    font-size: 3rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  margin: 0 auto;
  width: 50%;
  background-color: ghostWhite;
  font-size: 1.3rem;

  @include mobile {
    margin: 0;
    width: 100vw;
    padding: 0;
  }

  .skillsHeader{
    // flex: 1;
    font-size: 3rem;
  }

  .skillsBarContainer{
    flex-grow: 1;
    min-width: 330px;
    max-width: 50%;
    margin: 10px;
    padding: 10px;
  }


  // skills bar styles

  .skillbar {
    font-family: 'Open Sans', 'sans-serif';
  	position:relative;
  	display:block;
  	margin-bottom:15px;

  	background:#eee;
  	height:35px;
  	@include border-radius(3px);
  	@include transition(0.5s, linear);
  	@include transition-property(width, background-color);
  }
  .skillbar:hover{
    width: 110%;
    @include mobile{
      width: 100%;
    }
    // max-width: 350px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .skillbar-title {
  	position:absolute;
  	top:0;
  	left:0;
  	font-weight:bold;
  	font-size:13px;
  	color:#fff;
  	background:#6adcfa;
  	-webkit-border-top-left-radius:3px;
  	-webkit-border-bottom-left-radius:4px;
  	-moz-border-radius-topleft:3px;
  	-moz-border-radius-bottomleft:3px;
  	border-top-left-radius:3px;
  	border-bottom-left-radius:3px;
  }

  .skillbar-title span {
  	display:block;
  	background:rgba(0, 0, 0, 0.1);
  	padding:0 20px;
  	height:35px;
  	line-height:35px;
  	-webkit-border-top-left-radius:3px;
  	-webkit-border-bottom-left-radius:3px;
  	-moz-border-radius-topleft:3px;
  	-moz-border-radius-bottomleft:3px;
  	border-top-left-radius:3px;
  	border-bottom-left-radius:3px;
  }

  .skillbar-bar {
  	height:35px;
  	width:0px;
  	background:#6adcfa;
  	border-radius:3px;
  	@include border-radius(3px);
  }

  .skill-bar-percent {
  	position:absolute;
  	right:10px;
  	top:0;
  	font-size:11px;
  	height:35px;
  	line-height:35px;
  	color:#444;
  	color:rgba(0, 0, 0, 0.4);
  }

}

.footer {
  display: flex;
  max-height: 150px;
  height: 25vh;
  // warp sapce around div inside
  justify-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  color: white;
  // text-shadow: 1px 1px 5px rgba(0,0,22,0.1);
  padding: 20px 0;
  font-size: 0.75rem;
  background-color: #524a48;
  margin: 0 !important;

  &>div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .left{
    font-size: 1.5rem;
    align-items: center;
    div{
      cursor: pointer;
      width: 50%;
      padding: 10px;
      @include border-radius(10px);
      border: 2px solid white;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
    div:hover{
      transition: 1s;
      -webkit-transform: translateZ(0);
      transform: scale3d(0.95, 0.95, 0.95);
    }
  }

  .right{
    font-size: 1.2rem;
    // align-items: left;
    .social{
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }

}
